.search-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 10;
}

.search-input {
    padding: 10px;
}

.search-button {
    padding: 10px 15px;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.slideshow-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}